<!DOCTYPE html>
<html>
<head>
  <title>Wodit</title>
  <meta name="google-site-verification" content="kcf3_sSQjKAT9XWwT2BnvNVRHOMGWL5BwauMqPIpcyA" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= render :partial => 'flash_messages' %>
    <%= render 'navbar' %>
    <%= yield %>
  </div>
</body>
</html>
